{% extends 'base/main.html' %} {% load static %} {% block content %}

<main>



    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 24px;
        }
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked+.slider {
            background-color: #2196F3;
        }
        
        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        /* Rounded sliders */
        
        .slider.round {
            border-radius: 24px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
    </style>

    <script>
        function myFunction() {
            var checkBox = document.getElementById("myCheck");
            var text = document.getElementById("text");
            if (checkBox.checked == true) {
                text.style.display = "block";
            } else {
                text.style.display = "none";
            }
        }
    </script>


    <section id="form-container">

        <img id="logo" src="{% static 'images/chat-icon.png' %}" />

        <div id="welcome-message">
            <h1>Welcome to MyChat</h1>
            <p>A group video calling platform made just for you!</p>
        </div>

        <form id="form">
            <div class="field-wrapper">

                <div class="form-field">
                    <label>Room:</label>
                    <input name="room" placeholder="Enter a room name..." style="text-transform:uppercase" />
                </div>

                <div class="form-field">
                    <label>Name:</label>
                    <input name="name" placeholder="Enter your name..." style="text-transform:uppercase" />
                </div>

                <div>
                    <p>Do you want to Activate iHear?
                        <label class="switch">
                        <input type="checkbox" id="myCheck" onclick="myFunction()">
                        <span class="slider round"></span>
                      </label>
                        <p id="text" style="display:none">
                            <input type="radio" id="deaf" name="type" value="deaf">
                            <label for="1">Deaf</label>
                            <input type="radio" id="nDeaf" name="type" value="nDeaf">
                            <label for="2">Non-Deaf</label>
                        </p>
                    </p>
                </div>

                <div class="form-field">
                    <input type="submit" value="Join Stream" />
                </div>


            </div>
        </form>
    </section>
</main>

<script>
    let form = document.getElementById('form')

    let handleSubmit = async(e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()
        let name = e.target.name.value
        let type = e.target.type.value

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)
        sessionStorage.setItem('type', type)
        console.log(type)

        window.open('/room/', '_self')
    }



    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}